<div class="login_header">

  <h1>Talk about something.</h1>

  <form action="/session" method="post" class="current_user">
    <h4>Hi <%= current_user.username%> <% if current_user.admin == "1" %> [A]</h4> <% end %>
    <input type="hidden" name="_method" value="delete">
    <button>logout</button>
  </form>

</div>

<div class="posts_container">

  <form action="/new_post" method="get" class="create_post_button">
    <button>create a post</button>
  </form>

  <% @posts.each do |post| %>

    <div class="post">

      <div class="post_image">
        <a href="<%= post['image_url'] %>" target="_blank"><img src="<%= post['image_url'] %>" alt="" style="max-height: 250px; max-width: 250px"></a>
      </div>

      <div class="post_details">
        <b><%= User.find(post.user_id).username %></b>
        <span class="date"><%= post.post_time%></span>
      </div>

      <div class="post_number">
        <form action="/post/<%= post['id'] %>">
          <button>[<%= Comment.where(post_id: post['id']).length %>] view thread</button>
          <b>#<%= post['id'] %></b>
        </form>
      </div>

      <div class="post_content">
        <%= post['content'] %>
      </div>

    </div>

  <% end %>
</div>

<div class="login_footer">
  <h4>by Evan.</h4>
</div>
