<div class="login_header">

  <h1><span class="logo">&there4;</span> #<%= @post['id'] %></h1>
  <a href="/"><h2>&larr; Back</h2></a>

</div>

<div class="posts_container">

  <form action="/new_comment/<%= @post['id'] %>" method="get">
    <button>comment</button>
  </form>

  <div class="post">

    <div class="post_image">
      <a href="<%= @post['image_url'] %>" target="_blank"><img src="<%= @post['image_url'] %>" alt="" style="max-height: 250px; max-width: 250px"></a>
      <% if current_user.admin == "1" %>
        <form action="/post/<%= @post['id'] %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>delete [A]</button>
        </form>
      <% end %>
    </div>

    <div class="post_details">
      <b><%= User.find(@post['user_id']).username %></b>
      <span class="date"><%= @post['post_time']%></span>
    </div>

    <div class="post_number">
      <b>#<%= @post['id'] %></b>
    </div>

    <div class="post_content">
      <%= @post['content'] %>
    </div>

  </div>

  <% @comments.each do |comment| %>
    <div class="post">

      <div class="post_image">
        <a href="<%= comment['image_url'] %>" target="_blank"><img src="<%= comment['image_url'] %>" alt="" style="max-height: 250px; max-width: 250px"></a>
        <% if current_user.admin == "1" %>
          <form action="/comment/<%= comment['id'] %>" method="post">
            <input type="hidden" name="post_id" value="<%= @post['id'] %>">
            <input type="hidden" name="_method" value="delete">
            <button>delete [A]</button>
          </form>
        <% end %>
      </div>

      <div class="post_details">
        <b><%= User.find(comment['user_id']).username %></b>
        <span class="date"><%= comment['comment_time'] %></span>
      </div>

      <div class="post_number">
        <b>#<%= comment['id'] %></b>
      </div>

      <div class="post_content">
        <p><%= comment['content'] %></p>
      </div>

    </div>
  <% end %>

</div>

<div class="login_footer">

  <h4>by Evan.</h4>

</div>
