<div class="login_header">

  <h1><span class="logo">&there4;</span> #<%= @post['id'] %></h1>
  <a href="/page/<%= @page_number %>"><h2>&larr; Back.</h2></a>

</div>

<div class="posts_container">

  <form action="/new_comment/<%= @page_number %>/<%= @post['id'] %>" method="get">
    <button>Comment.</button>
  </form>

  <div class="post">

    <div class="post_image">

      <img src="<%= @post['image_url'] %>" alt="" style="max-height: 250px; max-width: 250px" onclick="document.getElementById('expand_image_post<%= @post['id'] %>').style.display='flex'">

      <div class="modal_overlay" id="expand_image_post<%= @post['id'] %>" onclick="document.getElementById('expand_image_post<%= @post['id'] %>').style.display='none'">

          <img src="<%= @post['image_url'] %>" style="max-height: 90vh; max-width: 90vw">

      </div>

      <!-- [A] Admin controls -->
      <% if current_user.admin == "1" %>
        <form action="/post/<%= @post['id'] %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>[A] Delete.</button>
        </form>
        <br>
        <% if @post['pinned'] == '1' %>
        <form action="/unpin/post/<%= @post['id'] %>" method="post">
          <button>[A] Unpin.</button>
        </form>
        <% else %>
          <form action="/pin/post/<%= @post['id'] %>" method="post">
            <button>[A] Pin.</button>
          </form>
        <% end %>
      <% end %>
    </div>

    <div class="post_details">
      <b><%= esc User.find(@post['user_id']).username %></b>
      <span class="date"><%= @post['post_time']%></span>
    </div>

    <div class="post_number">
      <b>#<%= @post['id'] %></b>
    </div>

    <div class="post_content">
      <%= esc @post['content'] %>
    </div>

  </div>

  <% @comments.each do |comment| %>
    <div class="comment">

      <div class="comment_image">

        <img src="<%= comment['image_url'] %>" alt="" style="max-height: 250px; max-width: 250px" onclick="document.getElementById('expand_image_comment<%= comment['id'] %>').style.display='flex'">

        <div class="modal_overlay" id="expand_image_comment<%= comment['id'] %>" onclick="document.getElementById('expand_image_comment<%= comment['id'] %>').style.display='none'">

            <img src="<%= comment['image_url'] %>" style="max-height: 90vh; max-width: 90vw">

        </div>

        <% if current_user.admin == "1" %>
          <form action="/comment/<%= comment['id'] %>" method="post">
            <input type="hidden" name="post_id" value="<%= @post['id'] %>">
            <input type="hidden" name="page_number" value="<%= @page_number %>">
            <input type="hidden" name="_method" value="delete">
            <button>[A] Delete.</button>
          </form>
        <% end %>
      </div>

      <div class="comment_details">
        <b><%= esc User.find(comment['user_id']).username %></b>
        <span class="date"><%= comment['comment_time'] %></span>
      </div>

      <div class="comment_number">
        <b>#<%= comment['id'] %></b>
      </div>

      <div class="comment_content">
        <p><%= esc comment['content'] %></p>
      </div>

    </div>
  <% end %>

</div>

<div class="login_footer">

  <h4>by Evan.</h4>

</div>
